@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Titillium+Web&display=swap');
@font-face {
    font-family: 'Friz Quadrata';
    src: url('./assets/fonts/friz-quadrata-std-medium.woff') format('woff')
}

body {
    background-color: floralwhite;
}
